$primary-bg: #1a1625;
$primary-text: #f2e5b8;
$glow-teal: rgba(126, 224, 208, 0.2);
$glow-gold: rgba(255, 215, 0, 0.2);
$rectangle-border: 1px solid $primary-text;

.popup {
    position: fixed;
    bottom: 60px;
    left: 20px;
    width: 300px;
    min-height: 400px;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 8px;
    color: #f2e5b8;
    font-family: 'MedievalSharp', cursive;
    border: 3px solid var(--scroll-gold);
    box-shadow:
        0 0 30px rgba(0, 0, 0, 0.5),
        inset 0 0 10px #d2bb94;
    backdrop-filter: blur(2px);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px $primary-text;
    z-index: 1000;
    animation: fadeIn 0.3s ease-in-out;
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid $primary-text;
}

.close-popup {
    font-family: 'MedievalSharp', cursive;
    background: transparent;
    border: 1.1px solid $primary-text;
    border-radius: 50%;
    color: $primary-text;
    cursor: pointer;
    font-size: 18px;
    &:hover {
        background: #f2e5b8;
        color: #000000;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    }
}

.popup-tabs {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.popup-tabs li {
    padding: 10px 15px;
    cursor: pointer;
    color: $primary-text;
    margin-right: 5px;
}

.popup-tabs li.active {
    border-bottom: 2px solid #fff;
    font-weight: bold;
}

.popup-content {
    height: 400px;
}
