@if(isVisible) {
<div class="popup">
    <div class="popup-header">
        <ul class="popup-tabs">
            <li [class.active]="selectedTab === 'chat'" (click)="selectTab('chat')">Messages</li>
            <li [class.active]="selectedTab === 'journal'" (click)="selectTab('journal')">Journal</li>
        </ul>
        <button (click)="togglePopup()" class="close-popup">X</button>
    </div>

    <div class="popup-content">
        @if(selectedTab === 'chat') {
        <app-chat></app-chat>
        } @if(selectedTab === 'journal') {
        <app-journal></app-journal>
        }
    </div>
</div>
}
