<div class="container">
    <div class="header">
        @if (myPlayer) { <img class="player-image" [src]="myPlayer.avatar" alt="Avatar du Joueur" />}
        <h2>{{ myPlayer?.name }}</h2>
    </div>

    <div class="info">
        <div class="stats-grid">
            <div class="life">
                <h3>Santé</h3>
                <div class="life-details">
                    <div class="life-left">
                        <h4>Points de vie restants:</h4>
                        <p>{{ myPlayer?.life || 0 }}</p>
                    </div>
                    <div class="max-life">
                        <h4>Points de vie maximal:</h4>
                        <p>{{ maxHealth }}</p>
                    </div>
                </div>
            </div>

            <div class="attribute">
                <h3>Attributs</h3>
                <div class="attributes-container">
                    <div class="speed">
                        <h4>Vitesse:</h4>
                        <p>{{ myPlayer?.speed || 0 }}</p>
                    </div>
                    <div class="attack">
                        <h4>Attaque:</h4>
                        <p>{{ myPlayer?.attackPower || 0 }}</p>
                    </div>
                    <div class="defense">
                        <h4>Défense:</h4>
                        <p>{{ myPlayer?.defensePower || 0 }}</p>
                    </div>
                </div>
            </div>

            <div class="skills">
                <h3>Compétences</h3>
                <div class="skills-container">
                    <div class="mouvements">
                        <h4>Mouvement:</h4>
                        <p>{{ myPlayer?.movementPts || 0 }}</p>
                    </div>
                    <div class="actions">
                        <h4>Actions:</h4>
                        <p>{{ myPlayer?.actions || 0 }}</p>
                    </div>
                </div>
            </div>

            <div class="dices">
                <h3>Dés</h3>
                <div class="dice-container">
                    <div class="dice-label">
                        <h4>Attaque:</h4>
                        @if (myPlayer) {
                        <img class="dice-image" [src]="diceToImageLink(myPlayer.attackDice)" alt="Dé d'Attaque" />}
                    </div>
                    <div class="dice-label">
                        <h4>Défense:</h4>
                        @if (myPlayer) {
                        <img class="dice-image" [src]="diceToImageLink(myPlayer.defenseDice)" alt="Dé de Défense" />}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
