<div class="container">   
    <h1>Vue Edition</h1>
    <mat-drawer-container>
        <mat-drawer #drawer mode="push" closed>
            <form>
                <div class="form-group">
                    <label for="Nom">Nom de la carte:</label>
                    <input id="Nom" type="text" maxlength="15" placeholder="15 caractères maximum"/>
                </div>
                <div class="form-group">
                    <label for="Description">Description de la carte:</label>
                    <textarea id="Description" type="text" rows="4" maxlength="100" placeholder="100 caractères maximum"></textarea>
                </div>
                <div class="button-group">
                    <button type="button" id="saveButton">Enregistrer la carte</button>
                </div>
            </form>
        </mat-drawer>
        <mat-drawer-content >
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>more_vert</mat-icon>
            </button>
            <div class = "board-container">
                <app-board-game [importedData]="data"></app-board-game>
            </div>
            <div class = "tools-container">
                <app-edit-item-area></app-edit-item-area>
            </div>
        </mat-drawer-content>
    </mat-drawer-container> 
</div>
