mat-drawer-content {
  display: flex;
  flex: 1;
  justify-content: center;
  height: auto;
}

.board-container {
  flex: 3; /* Occupe plus d'espace */
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.reset-button-container {
  margin-top: 10px; /* Espace au-dessus du bouton de réinitialisation */
  display: flex;
  justify-content: center; /* Centrage du bouton */
  width: 100%;
}

.tools-container {
  flex: 1; /* Occupe moins d'espace */
  max-width: 30%; /* Définir une largeur maximale */
  height: auto;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 20px;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

textarea#Description {
  resize: none; /* Empêche le redimensionnement */
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 10px;
}
