<div class="editor-container">
    <div class="editor-panel">
        <h2>Vue d’édition</h2>
        <div class="form-container">
            <label for="Nom">Nom de la carte:</label>
            <input id="Nom" type="text" maxlength="15" placeholder="15 caractères maximum" matInput [(ngModel)]="name" />

            <label for="Description">Description de la carte:</label>
            <textarea id="Description" rows="4" maxlength="100" placeholder="100 caractères maximum" matInput [(ngModel)]="description"></textarea>

            <button type="button" id="saveButton">Enregistrer</button>
            <button type="button" class="reset-button">Réinitialiser</button>
        </div>
    </div>
    <div class="map-container">
        <app-board-game></app-board-game>
    </div>

    <div class="tiles-panel">
        <app-edit-item-area></app-edit-item-area>
    </div>
</div>
