mat-drawer-content {
  display: flex;
  flex: 1;
}
.board-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: fit-content;
}

.tools-container {
  max-height: 50%; 
  overflow-y: auto; /* Ajoutez cette ligne pour rendre le conteneur défilable */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}