html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

$primary-bg: #1a1625;
$primary-text: #7ee0d0;
$glow-teal: rgba(126, 224, 208, 0.2);
$glow-gold: rgba(255, 215, 0, 0.2);

label {
    color: $primary-text;
    font-size: 16px;
    margin-bottom: 5px;
}

h1 {
    color: $primary-text;
}

.editor-container {
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 98%;
    height: 97%;
    padding: 20px;
    background: $primary-bg;
}

.editor-panel,
.tiles-panel {
    width: 20%;
    border: 2px solid $glow-teal;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-container {
    width: 100%;
    padding: 10px; // Ajoute un padding interne pour éviter que les champs touchent les bords
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: $glow-teal;
    color: $primary-text;
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: $glow-teal;
    box-shadow: 0 0 20px $glow-teal;
    transform: translateY(-2px);
}

.reset-button {
    background: #888;
    color: white;
}

.reset-button:hover {
    background: #555;
}

.editor-panel {
    width: 30%; // Augmente la largeur de la boîte
    max-width: 400px; // Fixe une largeur maximale
    border: 2px solid $glow-teal;
    border-radius: 10px;
    padding: 30px; // Ajoute du padding pour espacer les éléments
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

textarea {
    resize: none;
}

.title {
    margin-bottom: 10px;
    color: $primary-text;
}

.form-group {
    margin-bottom: 10px;
}

.button-group {
    margin-bottom: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.board-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.reset-button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.tools-container {
    margin-left: 20px;
}
