<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue de création d'une partie</title>
</head>
<body>
  <h1 class="title">Vue de création d'une partie</h1>
  <div class="container">
    <div class="filter">Filtre de sélection (mode classique ou CTF) et (taille)</div>
    <div class="details">
      <div class="map">Map</div>
      <div class="info">
        <p>Infos</p>
        <p>Nom</p>
        <p>Mode</p>
        <p>Taille</p>
        <p>Date dernière modification</p>
      </div>
    </div>
    <div class="option">Nom</div>
    <div class="option">Nom</div>
  </div>
  <button class="retour" routerLink="/home">Retour</button>

</body>
</html>
