/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.backdrop-block {
    background-color: rgba(0, 0, 0, 0.7) !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    z-index: 999 !important;
}

.alert-dialog {
    z-index: 1000 !important;
}

.grid {
    display: flex;
    flex-direction: column;
    width: 70vmin;
    height: 70vmin;
    max-width: 1100px;
    max-height: 1100px;
    padding-left: 0;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.row > * {
    flex-grow: 1;
    aspect-ratio: 1/1;
    justify-self: center;
    width: auto;
}
