img {
    width: 100%;
    height: auto;
    border: 4px solid #000;
    border-radius: 4px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}

img:hover {
    opacity: 0.25;
    filter: grayscale(50%); 
}

img.item-moved {
    opacity: 0.25;
    filter: grayscale(50%); 
}

.tooltip {
    position: absolute;
    background-color: #0d0215;
    color: #d8f3dc;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
    white-space: normal;
    max-width: 200px;
    max-height: 150px; 
    overflow-y: auto; 
    overflow-wrap: break-word;
    top: 100%;
    left: 0;
    transform: translateY(0);
    pointer-events: none; 
    text-align: left;
}

.tooltip::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 10px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #0d0215 transparent;
}

.object {
    position: relative;
    display: inline-block;
}