<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Tuiles</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-edit-tool url="./assets/tiles/Wall.png" type="Tile" alternate="Floor"></app-edit-tool>
        <app-edit-tool url="./assets/tiles/Water.png" type="Tile" alternate="Water"></app-edit-tool>
        <app-edit-tool url="./assets/tiles/Ice.png" type="Tile" alternate="Ice"></app-edit-tool>
        <app-edit-tool url="./assets/tiles/ClosedDoor.png" type="Tile" alternate="ClosedDoor"></app-edit-tool>
    </mat-card-content>
</mat-card>
<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Objets</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-edit-tool-item url="./assets/items/Bow.png" type="Item" alternate="Bow"></app-edit-tool-item>
        <app-edit-tool-item url="./assets/items/Sword.png" type="Item" alternate="Sword"></app-edit-tool-item>
        <app-edit-tool-item url="./assets/items/Shield.png" type="Item" alternate="Shield"></app-edit-tool-item>
        <app-edit-tool-item url="./assets/items/Pearl.png" type="Item" alternate="Pearl"></app-edit-tool-item>
        <app-edit-tool-item url="./assets/items/Monster Egg.png" type="Item" alternate="Monster Egg"></app-edit-tool-item>
        <app-edit-tool-item url="./assets/items/Leather Boot.png" type="Item" alternate="Leather Boot"></app-edit-tool-item>
        <app-edit-tool-item url="./assets/items/Flag.png" type="Item" alternate="Flag"></app-edit-tool-item>
    </mat-card-content>
</mat-card>
