<div class="tabs">
    <button class="tab-button" (click)="showGrid('TilesGrid')">Tiles</button>
    <button class="tab-button" (click)="showGrid('ItemsGrid')">Items</button>
</div>
@if(selectedGrid==="TilesGrid"){
    <div class="object-grid">
        <app-edit-tool url="./assets/tiles/Water.png" type="Tile" alternate="Water"></app-edit-tool>
        <app-edit-tool url="./assets/tiles/Ice.png" type="Tile" alternate="Ice"></app-edit-tool>
        <app-edit-tool url="./assets/tiles/Wall.png" type="Tile" alternate="Wall"></app-edit-tool>
        <app-edit-tool url="./assets/tiles/ClosedDoor.png" type="Tile" alternate="ClosedDoor"></app-edit-tool>
    </div>
}@else if(selectedGrid==="ItemsGrid"){
    <div class="object-grid">
        <app-edit-tool-item url="../../../assets/objects/Chest.png" type="Item" alternate="Chest"></app-edit-tool-item>
        <app-edit-tool-item url="../../../assets/objects/Sword.png" type="Item" alternate="Sword"></app-edit-tool-item>
        <app-edit-tool-item url="../../../assets/objects/Shield.png" type="Item" alternate="Shield"></app-edit-tool-item>
    </div>
}