.tooltip {
    position: absolute;
    background-color: #0d0215;
    color: #d8f3dc;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 10;
    white-space: normal;
    overflow-y: auto;
    overflow-wrap: break-word;
    top: 100%;
    left: 0;
    transform: translateY(0);
    pointer-events: none;
    text-align: left;
}

.tooltip::after {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 10px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #0d0215 transparent;
}