<div class="game-grid">
    <div class="top-rectangle">
        <app-game-map-player></app-game-map-player>
    </div>

    <div class="map-container">
        <app-game-map></app-game-map>
    </div>

    <div class="right-rectangle">
        <app-game-map-player-detailed></app-game-map-player-detailed>
    </div>

    <div class="bottom-rectangle">
        <button (click)="toggleChat()" class="toggle-button">Chat</button>
        <button (click)="toggleInfo()" class="toggle-button">Info Partie</button>
        <app-game-map-player-tools></app-game-map-player-tools>
    </div>

    <!-- Chat Popup -->
    @if(showChat) {
    <div class="popup">
        <div class="popup-header">
            <span>Zone de messages</span>
            <button (click)="toggleChat()" class="close-popup">X</button>
        </div>
        <div class="chat-content">
            <!-- Chat messages go here -->
        </div>
    </div>
    } @if (showInfo) {
    <!-- <div class="popup"> -->
    <!-- <div class="popup-header">
            <span>Info Partie</span>
            <button (click)="toggleInfo()" class="close-chat">X</button>
        </div> -->
    <app-game-map-info></app-game-map-info>
    <!-- </div> -->
    }
</div>
