<div class="game-grid">
    <div class="top-rectangle">
        <app-game-map-player></app-game-map-player>
    </div>

    <div class="map-container">
        <app-game-map></app-game-map>
    </div>

    <div class="right-rectangle">
        <app-game-map-player-detailed></app-game-map-player-detailed>
    </div>

    <div class="bottom-rectangle">
        <button (click)="toggleChat()" class="chat-toggle-button">Chat</button>
        <app-game-map-player-tools></app-game-map-player-tools>
    </div>

    <!-- Chat Popup -->
    @if(showChat) {
      <div class="chat-popup">
        <div class="chat-header">
          <span>Zone de messages</span>
          <button (click)="toggleChat()" class="close-chat">X</button>
        </div>
        <div class="chat-content">
          <!-- Chat messages go here -->
        </div>
      </div>
    }
</div>
