<div class="object"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="descriptionHovered.emit('')"
    matBadge="{{remainingItem}}"
    matBadgePosition="below"
    matBadgeSize="medium"
    matBadgeOverlap="false"
    matBadgeHidden="{{!remainingItem}}"
>
    <img
        [src]="src + type + fileType"
        [alt]="type"
        class="draggable-image"
        [draggable]="isDraggable"
        [class.item-moved]="!isDraggable"
        (dragstart)="onDragStart()"
        (dragleave)="onDragEnter($event)"
        [title]="''"
    >
</div>
