<mat-card appearance="outlined">
    <mat-card-header> ceci est le header youpi!
        <mat-card-title> titre de la carte</mat-card-title>
        <mat-card-subtitle> card subtitle</mat-card-subtitle>
        <img mat-card-avatar src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9pvSGI4Bv4mp6AhtsAtEyYwDGz7MT_KxD2g&s">
    </mat-card-header>
  <mat-card-content>Map selector fonctionne!</mat-card-content>
  <img mat-card-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9pvSGI4Bv4mp6AhtsAtEyYwDGz7MT_KxD2g&s">
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>

    </mat-card-actions>
    <mat-card-footer> ceci est le footer youpi!</mat-card-footer>

</mat-card>


