.grid {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    align-items: center;
    padding: 10px;
}


.row {
    display: flex;
    height: 100%;
}

.row > * {
    flex-grow: 1;
    aspect-ratio: 1/1;
    justify-self: center;
}