<div class="fight-container">
    <div class="fight-header">
        <h2 class="timer">Combat!</h2>
        <h2>Tour de: {{ currentNameTurn }}</h2>
        <div class="timer">⏱️ {{ timer }}</div>
    </div>
    <div class="fight-header-action">
        <button class="toggle-button chat" (click)="onToggleChatClick()">CHAT & JOURNAL</button>
    </div>

    <div class="players-container">
        <div class="player-card" [class.active]="currentNameTurn === myPlayer?.name">
            <div class="player-avatar">
                @if (myPlayer) {
                <img [src]="myPlayer.avatar" [alt]="myPlayer.name" />
                }
            </div>
            <div class="player-info">
                <h3>{{ myPlayer?.name }}</h3>
                <div class="health-bar">
                    <div class="health-fill" [style.width.%]="lifePercentMyPlayer"></div>
                    <span>{{ lifePercentMyPlayer }}%</span>
                </div>
                <div class="flee-attempts">
                    <span>Fuites: {{ myPlayer?.fleeAttempts || 0 }}/2</span>
                </div>
            </div>
        </div>

        <div class="vs">VS</div>

        <div class="player-card" [class.active]="currentNameTurn === opponentPlayer?.name">
            <div class="player-avatar">
                @if (opponentPlayer) {
                <img [src]="opponentPlayer.avatar" [alt]="opponentPlayer.name" />
                }
            </div>
            <div class="player-info">
                <h3>{{ opponentPlayer?.name }}</h3>
                <div class="health-bar">
                    <div class="health-fill" [style.width.%]="lifePercentOpponent"></div>
                    <span>{{ lifePercentOpponent }}%</span>
                </div>
                <div class="flee-attempts">
                    <span>Fuites: {{ opponentPlayer?.fleeAttempts || 0 }}/2</span>
                </div>
            </div>
        </div>
    </div>

    <div class="dice-container">
        <div class="dice d4">
            <span> @if(currentNameTurn === opponentPlayer?.name){ Dé de défense } @else { Dé d'attaque } </span>
            <div class="dice-value">{{ myPlayer?.diceResult }}</div>
        </div>

        <div class="dice d6">
            <span> @if(currentNameTurn === opponentPlayer?.name){ Dé d'attaque } @else { Dé de défense } </span>
            <div class="dice-value">{{ opponentPlayer?.diceResult }}</div>
        </div>
    </div>

    <div class="action-buttons">
        @if( (myPlayer?.fleeAttempts ?? 0) > 0 ){
        <button (click)="flee()" [class.disabled]="!isMyTurn()">Fuir</button>
        }
        <button (click)="attack()" [class.disabled]="!isMyTurn()">Attaquer</button>
    </div>
</div>
