<div class="map-list-container">
    @if(isLoading) {
    <div class="circ">
        <div class="load">Loading . . .</div>
        <div class="hands"></div>
        <div class="body"></div>
        <div class="head">
            <div class="eye"></div>
        </div>
    </div>
    } @if(mapsLoaded) {
    <div class="search-bar">
        <app-header-bar></app-header-bar>
        <input type="text" [(ngModel)]="searchQuery" placeholder="Search..." class="search-input" />
        <div class="filter-sort">
            <select [(ngModel)]="sortBy" class="sort-select">
                <option value="updatedAt">Date de dernière mise à jour</option>
                <option value="name">Nom</option>
                <option value="size">Taille</option>
            </select>
        </div>
    </div>
    <div class="grid-container">
        @for (map of getFilteredAndSortedItems(); track map) {
            <app-map-card
                [map]="map"
                [isCreationPage]="isCreationPage"
                (click)="onDivClick(map)"
                (edit)="onEdit($event)"
                (delete)="onDelete($event)"
                (toggleVisibility)="toggleVisibility($event)"
            >
        </app-map-card>
        } @if (!isCreationPage) {
        <div class="list-item new-map-card" (click)="createNewMap()">
            <div class="add-icon">+</div>
            <p class="add-text">Create New Map</p>
        </div>
        }
    </div>
    } @else {
        <div class="empty-state">
            <p>Aucunes parties trouvées</p>
        </div>
        @if (!isCreationPage) {
            <div class="list-item new-map-card" (click)="createNewMap()">
                <div class="add-icon">+</div>
                <p class="add-text">Create New Map</p>
            </div>
        } }
</div>
