<body>
    <div class="access-code-container">
        <h1>Organizer Waiting Room</h1>
        <p>Your Access Code: {{ accessCode }}</p>
        <!-- Bouton pour verrouiller/déverrouiller visible pour l'admin -->
        @if (isAdmin) {
        <button (click)="toggleRoomLock()" [disabled]="players.length >= maxPlayers">
            {{ isRoomLocked ? 'Unlock' : 'Lock' }}
        </button>
        }

        <button (click)="disconnect()">Disconnect</button>

        <!-- Nouveau bouton "Start Game" accessible uniquement à l'admin, activable si le lobby est verrouillé et qu'il y a au moins 2 joueurs -->
        @if (isAdmin) {
        <button [disabled]="players.length < 2 && players.length !== maxPlayers">Start Game</button>
        }
    </div>

    <!-- Liste des joueurs de la salle -->
    <div class="players-list">
        <h2>Room Players</h2>
        <ul>
            @for (player of players; track player.id) {
            <li>
                <span [ngStyle]="{ color: players[0].id === player.id ? 'yellow' : 'inherit' }">
                    <strong>{{ player.name }}</strong>
                </span>
                - Vie: {{ player.life }}, Attaque: {{ player.attack }}, Défense: {{ player.defense }}, Rapidité: {{ player.speed }}, attackDice:
                <img [src]="diceToImageLink(player.attackDice)" alt="attack Dice" class="dice-image" /> defenseDice:
                <img [src]="diceToImageLink(player.defenseDice)" alt="Defense Dice" class="dice-image" />

                @if (isAdmin && player.id !== getCurrentPlayerId()) {
                <button (click)="removePlayer(player.id)">Bannir</button>
                }
            </li>
            }
        </ul>
    </div>

    <!-- Fausse boîte de clavardage -->
    <div class="chat-box">
        <h2>Chat Room</h2>
        <div class="chat-messages">
            <div class="message"><strong>[Admin]</strong>: Bonjour à tous!</div>
        </div>
        <input type="text" placeholder="Tapez votre message..." disabled />
    </div>
</body>
