<body>
    <div class="access-code-container">
        <h1>Organizer Waiting Room</h1>
        <p>Your Access Code: {{ accessCode }}</p>
        @if (isAdmin) {
        <button (click)="toggleRoomLock()" [disabled]="players.length >= maxPlayers">
            {{ isRoomLocked ? 'Unlock' : 'Lock' }}
        </button>
        }

        <button (click)="disconnect()">Disconnect</button>

    @if (isAdmin) {
      <button [disabled]="!(players.length >= 2 && (isRoomLocked || players.length === maxPlayers))" (click)="configureGame()"> Start Game </button>
    }
  </div>

    <div class="players-list">
        <h2>Room Players</h2>
        <ul>
            @for (player of players; track player.id) {
            <li>
                <img class="avatar-image" [src]="player.avatar" alt="Avatar" />
                <span [ngStyle]="{ color: players[0].id === player.id ? 'yellow' : 'inherit' }">
                    <strong>{{ player.name }}</strong>
                </span>

                @if (isAdmin && player.id !== getCurrentPlayerId()) {
                <button (click)="removePlayer(player.id)">Bannir</button>
                }
            </li>
            }
        </ul>
    </div>

    <div class="chat-box">
        <h2>Chat Room</h2>
        <div class="chat-messages">
            <div class="message"><strong>[Admin]</strong>: Bonjour à tous!</div>
        </div>
        <input type="text" placeholder="Tapez votre message..." disabled />
    </div>
</body>
