<div class="player-section">
    @for (player of players; track player) {
        <div class="player">
            <div class="player-image">
                <img [src]="srcAvatar + player.avatar + fileType" [alt]="player.username">
                <h3 [class.player-not-in-game]="!playersInGame.get(player.username)">{{ player.username }}</h3>
            </div>
            <div class="player-info">
                @if (player.username === admin) {
                    <h3 class="admin">Admin</h3>
                }
                @if (player.username === activePlayer) {
                    <h3 class="active">Actif</h3>
                }
                <h3>Victoires:</h3>
                <p>{{playersWins.get(player.username)}}</p>
            </div>
        </div>
    }
    @for (i of rangeEmptyPlayerSlot(); track i) {
        <div class="player">
            <div class="player-image">
                <div class="empty-player"></div>
                <h3>Vide</h3>
            </div>
            <div class="player-info">
                <h3>Victoires:</h3>
                <p>0</p>
            </div>
        </div>
    }
</div>
