<div class="container justified">
    <div class="access-code-container">
        <h1>Lobby de partie: {{ accessCode }}</h1>
        @if (isAdmin) {
        <button (click)="toggleRoomLock()" [disabled]="players.length >= maxPlayers">
            {{ isRoomLocked ? 'Unlock' : 'Lock' }}
        </button>
        }

        <button (click)="disconnect()">Disconnect</button>

        @if (isAdmin) {
        <button [disabled]="!(players.length >= 2 && (isRoomLocked || players.length === maxPlayers))" (click)="configureGame()">
            Démarrer partie!
        </button>
        }
    </div>

    <div class="players-list">
        <h2>Liste de joueurs</h2>
        <ul>
            @for (player of players; track player.id) {
            <li>
                <img class="avatar-image" [src]="player.avatar" alt="Avatar" />
                <span [ngStyle]="{ color: players[0].id === player.id ? 'yellow' : 'inherit' }">
                    <strong>{{ player.name }}</strong>
                </span>

                @if (isAdmin && player.id !== getCurrentPlayerId()) {
                <button (click)="removePlayer(player.id)">Bannir</button>
                }
            </li>
            }
        </ul>
    </div>

    <div class="chat-box">
        <h2>Zone de chat</h2>
        <div class="chat-messages">
            <div class="message"><strong>[Admin]</strong>: Bonjour à tous!</div>
        </div>
        <input type="text" placeholder="Tapez votre message..." disabled />
    </div>
</div>
