<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Tuiles</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        @for(tile of tiles; track tile){ @if(tile !== tileType.Floor && tile !== tileType.OpenedDoor ){
        <app-edit-tool-tile [type]="tile"></app-edit-tool-tile>
        } }
    </mat-card-content>
</mat-card>
<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Objets</mat-card-title>
    </mat-card-header>
    <mat-card-content class="content">
        @for(item of items; track item){ @if (item !== '') {
        <app-edit-tool-item [type]="item"></app-edit-tool-item>
        } }
    </mat-card-content>
</mat-card>
