:host {
    display: flex;
    flex-grow: 1;
    background-color: #fff;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
}


img{
    justify-self: center;
    background-size: cover;
}