<div 
class="cell" 
(dragover)="onDragOver($event)"
(drop)="onDrop($event)">
    <div class="image-container">
        <img
        class="base-image"
        [src]="srcTiles + cell.tile + fileType"
        >
        @if (cell.item) {
            @if (cell.item.includes(itemType.Chest)){
                <img 
                class="image-stack"
                draggable="true"
                (drag)="onDragStart($event)"
                [src]="srcItem + itemType.Chest + fileType"
                >
            } @else if (cell.item.includes(itemType.Spawn)) {
                <img 
                class="image-stack"
                draggable="true"
                (drag)="onDragStart($event)"
                [src]="srcItem + itemType.Spawn + fileType"
                >
            } @else{
                <img 
                class="image-stack"
                draggable="true"
                (drag)="onDragStart($event)"
                [src]="srcItem + cell.item + fileType"
                >
            }
        }
    </div>
</div>