.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10px, 1fr));
    gap: 10px;
    width: 80%;
    height: 650px; 
    background-color: #f0f0f0;
}

.grid > div {
    background-color: #ccc;
    border: 1px solid #999;
    height: 100%;
}