<div class="grid">
    @for (row of boardGame; track row) {
    <div class="row" draggable="false">
        @for (cell of row; track cell) {
        <app-board-cell
            class="cell"
            [cell]="cell"
            [appMouseHandler]="cell"
            [isInGameView]="true"
            [tooltipContent]="getCellTooltip(cell)"
            [class.path-cell]="isPathCell(cell) && isPlayerTurn && !isActionSelected"
            [class.path-highlight]="isHighlightedPathCell(cell) && isPlayerTurn && !isActionSelected"
            [class.action-cell]="isActionCell(cell) && isPlayerTurn && isActionSelected"
            (mouseenter)="onCellHovered(cell)"
            (mouseleave)="onCellUnhovered()"
            (leftClicked)="onLeftClicked($event)"
            (rightClicked)="onRightClicked($event)"
        >
        </app-board-cell>
        }
    </div>
    }
</div>
