img {
    width: 100%;
    height: auto;
    border: 4px solid #000;
    border-radius: 4px;
}

img.selected {
    border: 4px solid #e30909;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    
}

.tooltip {
    background-color: #cebf82;
    color: #ffffff00;
}

img:hover {
    opacity: 0.25;
    filter: grayscale(50%); 
}