h1 {
    color: #7ee0d0;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(126, 224, 208, 0.5), 0 0 20px rgba(126, 224, 208, 0.5), 0 0 25px rgba(126, 224, 208, 0.5);
    background: linear-gradient(90deg, rgba(126, 224, 208, 1) 0%, rgba(0, 255, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5), 0 0 15px rgba(126, 224, 208, 0.5), 0 0 20px rgba(126, 224, 208, 0.5), 0 0 25px rgba(126, 224, 208, 0.5);
    }
    to {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(126, 224, 208, 0.5), 0 0 40px rgba(126, 224, 208, 0.5), 0 0 50px rgba(126, 224, 208, 0.5);
    }
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #1a1625;
}

.card {
    background-color: #1a162520;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
}

.content {
    display: flex;
    justify-content: space-between;
}

.grid {
    display: flex;
    width: 650px; 
    height: 650px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

// .grid > div {
//     background-color: #ccc;
//     border: 1px solid #999;
//     height: 100%;
// }

.object-card {
    width: 15%; 
    background-color: #f9f9f9;
    border-left: 1px solid #ddd;
    padding: 10px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.footer-card {
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
}

#editForm {
    display: flex;
    flex-direction: column;
    align-items: right;
}