<div class="container justified">
    <h1>Vue Édition</h1>
    <div class="card">
        <div class="content">
            <div class="grid">
               <app-board-game></app-board-game>
            </div>
            
            <div class="object-card">
                <app-edit-item-area class="app-edit-item-area"></app-edit-item-area>
            </div>
        </div>
    </div>
    <div class="card footer-card">
        <app-edit-form class="app-edit-form"></app-edit-form>
    </div>
</div>