<!-- Popup -->
<div class="popup">
    <div class="popup-content">
        <!-- Portrait Navigation -->

        <div class="portrait-container">
            <button class="arrow-button" (click)="navigatePortrait('prev')">←</button>
            <div class="portrait-display">
                <img [src]="getCurrentPortraitImage()" alt="Portrait" class="portrait-image" />
            </div>
            <button class="arrow-button" (click)="navigatePortrait('next')">→</button>
        </div>

        <!-- Name Input -->
        <div class="name-container">
            <label for="player-name">Who are you ?</label>
            <input type="text" id="player-name" [(ngModel)]="stats.playerName" placeholder="Enter your name" class="name-input" maxlength="20" />
        </div>

        <!-- Stat Selection -->
        <div class="stat-container">
            <div class="stat-column">
                <p class="stat-description">Attribuer un +2</p>
                <div class="tooltip">
                    <button class="stat-button" [class.selected]="lifeSelected" (click)="selectStat('life')">Vie: {{ stats.life }}</button>
                    <span class="tooltiptext">le nombre de points de vie</span>
                </div>
                <div class="tooltip">
                    <button class="stat-button" [class.selected]="rapiditySelected" (click)="selectStat('rapidity')">
                        Rapidité: {{ stats.rapidity }}
                    </button>
                    <span class="tooltiptext">déterminer l’ordre des tours et points de mouvement par tour</span>
                </div>
            </div>
            <div class="stat-column">
                <p class="stat-description">Attribuer un D6</p>
                <div class="tooltip">
                    <button class="stat-button" [class.selected]="attackSelected" (click)="selectCombatStat('attack')">
                        Attaque: {{ stats.attack }} + 
                        @if(stats.attackDice) {
                            <img [src]="stats.attackDice" alt="Attack Dice" class="dice-image" />
                        }
                    </button>
                    <span class="tooltiptext">dégats d'une attaque</span>
                </div>
                <div class="tooltip">
                    <button class="stat-button" [class.selected]="defenseSelected" (click)="selectCombatStat('defense')">
                        Défense: {{ stats.defense }} + 
                        @if(stats.defenseDice) {
                            <img [src]="stats.defenseDice" alt="Defense Dice" class="dice-image"/>
                        }
                    </button>
                    <span class="tooltiptext">capacité à bloquer une attaque </span>
                </div>
            </div>
        </div>

        <button class="close-popup-button" (click)="onClose()">Close</button>
        @if (canJoin()) {
        <button class="join-button" routerLink="/waiting">Join</button>
        }
    </div>
</div>