<div class="popup">
    <div class="popup-content">
        <div class="portrait-container">
            <button class="arrow-button" (click)="navigatePortrait('prev')">←</button>
            <div class="portrait-display">
                @if (isCurrentAvatarTaken) {
                <img [src]="currentPortraitImage" alt="Portrait" class="portrait-image taken" />
                } @else {
                <img [src]="currentPortraitImage" alt="Portrait" class="portrait-image" />
                }
            </div>
            <button class="arrow-button" (click)="navigatePortrait('next')">→</button>
        </div>
        @if(isCurrentAvatarTaken) {
        <p style="color: red">Avatar déjà sélectionné par un autre joueur</p>
        }
        <div class="name-container">
            <label for="player-name">Qui êtes vous ?</label>
            <input type="text" id="player-name" [(ngModel)]="playerInput.name" placeholder="Enter your name" class="name-input" maxlength="20" />
        </div>
        <div class="stat-container">
            <div class="stat-column">
                <p class="stat-description">Attribuer un +2</p>
                <div class="tooltip">
                    <button class="stat-button" [class.selected]="lifeSelected" (click)="selectStat('life')">Vie: {{ playerInput.life }}</button>
                    <span class="tooltiptext">le nombre de points de vie</span>
                </div>
                <div class="tooltip">
                    <button class="stat-button" [class.selected]="speedSelected" (click)="selectStat('speed')">
                        Rapidité: {{ playerInput.speed }}
                    </button>
                    <span class="tooltiptext">déterminer l'ordre des tours et points de mouvement par tour</span>
                </div>
            </div>
            <div class="stat-column">
                <p class="stat-description">Attribuer un D6</p>
                <div class="tooltip">
                    <button class="stat-button" [class.selected]="attackSelected" (click)="selectCombatStat('attack')">
                        Attaque: {{ playerInput.attackPower }} + @if(playerInput.attackDice) {
                        <img [src]="diceToImageLink(playerInput.attackDice)" alt="Attack Dice" class="dice-image" />
                        }
                    </button>
                    <span class="tooltiptext">dégats d'une attaque</span>
                </div>
                <div class="tooltip">
                    <button class="stat-button" [class.selected]="defenseSelected" (click)="selectCombatStat('defense')">
                        Défense: {{ playerInput.defensePower }} + @if(playerInput.defenseDice) {
                        <img [src]="diceToImageLink(playerInput.defenseDice)" alt="Defense Dice" class="dice-image" />
                        }
                    </button>
                    <span class="tooltiptext">capacité à bloquer une attaque </span>
                </div>
            </div>
        </div>
        <button class="close-popup-button" (click)="onClose()">Fermer</button>
        @if (!isRoomLocked) { @if (canJoin()) { @if(isCreationPage) {
        <button class="join-button" (click)="createGame()">Commencer partie</button>
        } @else {
        <button class="join-button" (click)="shareCharacter()" routerLink="/lobby" [disabled]="isCurrentAvatarTaken">Joindre</button>
        } } } @else {
        <p style="color: red">L'admin a verrouillé la partie. Cette partie n'accepte plus de joueuers.</p>
        <p style="color: red">Veuillez vous diriger vers le menu principal ou soumettre un nouveau code d'accès.</p>
        <button class="close-popup-button" routerLink="/accueil" (click)="onClose()">Retour au menu principal</button>
        }
    </div>
</div>
